<h2 class="text-3xl font-medium">
  Por Región
</h2>

<hr>

<div class="row">
  <div class="col text-center">
    <button *ngFor="let region of regions" class="btn m-2"
      [ngClass]="{'btn-outline-primary': selectedRegion === region}" (click)="onSearchByRegion(region)">
      {{region}}
    </button>
  </div>
</div>

<div>
  <div>
    <hr>
    <ul>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </ul>
  </div>
</div>
