<h2 class="text-3xl font-medium">
  Por País
</h2>

<hr>

<div>
  <div class="my-2">
    <!-- SearchBox -->
    <shared-search-box placeholder="Buscar por país" (onValue)="onSearchByCountry($event)"
      (onDebounce)="onSearchByCountry($event)" [initialValue]="initialValue" id="input-search"></shared-search-box>
  </div>
</div>

<div>
  <div>
    <hr>
    <ul>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </ul>
  </div>
</div>
